@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*
Apaga as pré-definições já definidas nas páginas, deixando tudo limpo
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}


/*-------------- Cabeçalho ---------------------*/

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    font-family: 'Sarala', sans-serif;
    color: beige;
    font-weight: 400;
    font-size: 18px;
}


/*-------------- Conteudo Principal---------------------*/


.conteudo{
    border-top: 0.4px solid beige;
    margin-bottom: 48px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.conteudo-principal-escrito-titulo{

    font-family: 'Righteous';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;  
    color: #FFF2E7;

}

.conteudo-principal-escrito-subtitulo{

    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#FFF2E7;
}

.conteudo-principal-escrito-botao{
    background-color:#ECD6C4;
    width: 185px;
    height: 67px;
    font-family: 'Sarala', sans-serif;
    color: #2F2325;
    font-size: 24px;
    border-radius: 20px;
    border: 0;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.conteudo-principal-escrito-iamge{
    height: 430px;
}



/*-------------- Conteudo Secundario---------------------*/


.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7 ;
    padding-top: 48px;
    font-family: 'Righteous';
    color: #ECD6C4;
    font-weight: 100;
    margin-bottom: 16px;

}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif ;
    font-weight: 300;
    font-size: 18px;
    color:#ECD6C4;
}


/*-------------- Roda Pé---------------------*/


.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7 ;
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin:  0 auto;
}